<!DOCTYPE html>
{% load static from staticfiles %}
{% load mytemplatetags %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="{% static 'js/jssor.slider-27.5.0.min.js' %}" type="text/javascript"></script>

	<link  href="{% static 'css/dn.css' %}" rel="stylesheet">
 	
	<script>
		function imageZoom(img1ID, result1ID, img2ID, result2ID) {
		  var img1, lens1, result1, img2, lens2, result2, cx, cy;
		  img1 = document.getElementById(img1ID);
		  result1 = document.getElementById(result1ID);
		  img2 = document.getElementById(img2ID);
		  result2 = document.getElementById(result2ID);
		  /*create lens:*/
		  lens1 = document.createElement("DIV");
		  lens1.setAttribute("class", "img-zoom-lens");
		  lens2 = document.createElement("DIV");
		  lens2.setAttribute("class", "img-zoom-lens");
		  
		  /*insert lens:*/
		  img1.parentElement.insertBefore(lens1, img1);
		  img2.parentElement.insertBefore(lens2, img2);
		  /*calculate the ratio between result DIV and lens:*/
		  cx = result1.offsetWidth / lens1.offsetWidth;
		  cy = result1.offsetHeight / lens1.offsetHeight;
		  /*set background properties for the result DIV:*/
		  result1.style.backgroundImage = "url('" + img1.src + "')";
		  result1.style.backgroundSize = (img1.width * cx) + "px " + (img1.height * cy) + "px";
		  result2.style.backgroundImage = "url('" + img2.src + "')";
		  result2.style.backgroundSize = (img2.width * cx) + "px " + (img2.height * cy) + "px";
		  /*execute a function when someone moves the cursor over the image, or the lens:*/
		  lens1.addEventListener("mousemove", moveLens);
		  img1.addEventListener("mousemove", moveLens);
		  lens2.addEventListener("mousemove", moveLens);
		  img2.addEventListener("mousemove", moveLens);
		  /*and also for touch screens:*/
		  lens1.addEventListener("touchmove", moveLens);
		  img1.addEventListener("touchmove", moveLens);
		  lens2.addEventListener("touchmove", moveLens);
		  img2.addEventListener("touchmove", moveLens);
		  
		  function moveLens(e) {
		    var pos, x, y;
		    /*prevent any other actions that may occur when moving over the image:*/
		    e.preventDefault();
		    /*get the cursor's x and y positions:*/
		    pos = getCursorPos(e);
		    /*calculate the position of the lens:*/
		    x = pos.x - (lens1.offsetWidth / 2);
		    y = pos.y - (lens1.offsetHeight / 2);
		    /*prevent the lens from being positioned outside the image:*/
		    if (x > img1.width - lens1.offsetWidth) {x = img1.width - lens1.offsetWidth;}
		    if (x < 0) {x = 0;}
		    if (y > img1.height - lens1.offsetHeight) {y = img1.height - lens1.offsetHeight;}
		    if (y < 0) {y = 0;}
		    /*set the position of the lens:*/
		    lens1.style.left = x + "px";
		    lens1.style.top = y + "px";
		    /*display what the lens "sees":*/
		    result1.style.backgroundPosition = "-" + (x * cx) + "px -" + (y * cy) + "px";
		  }
		  function getCursorPos(e) {
		    var a, x = 0, y = 0;
		    e = e || window.event;
		    /*get the x and y positions of the image:*/
		    a = img1.getBoundingClientRect();
		    /*calculate the cursor's x and y coordinates, relative to the image:*/
		    x = e.pageX - a.left;
		    y = e.pageY - a.top;
		    /*consider any page scrolling:*/
		    x = x - window.pageXOffset;
		    y = y - window.pageYOffset;
		    return {x : x, y : y};
		  }
		}

		function syncLens(img1ID, result1ID, img2ID, result2ID){
			var img1, lens1, result1, img2, lens2, result2, cx, cy;
			img1 = document.getElementById(img1ID);
			result1 = document.getElementById(result1ID);
			img2 = document.getElementById(img2ID);
			result2 = document.getElementById(result2ID);
			/*create lens:*/
			lens1 = document.createElement("DIV");
			lens1.setAttribute("class", "img-zoom-lens");
			
			lens2 = document.createElement("DIV");
			lens2.setAttribute("class", "img-zoom-lens");
		
			/*insert lens:*/
			img1.parentElement.insertBefore(lens1, img1);
			img2.parentElement.insertBefore(lens2, img2);
			lens1.addEventListener("mousemove", moveLens);
		  	img1.addEventListener("mousemove", moveLens);

		  	/*calculate the ratio between result DIV and lens:*/
			cx = result1.offsetWidth / lens1.offsetWidth;
			cy = result1.offsetHeight / lens1.offsetHeight;
			/*set background properties for the result DIV:*/
			result1.style.backgroundImage = "url('" + img1.src + "')";
			result1.style.backgroundSize = (img1.width * cx) + "px " + (img1.height * cy) + "px";
			result2.style.backgroundImage = "url('" + img2.src + "')";
			result2.style.backgroundSize = (img2.width * cx) + "px " + (img2.height * cy) + "px";

		  	function moveLens(e) {
			    var pos, x, y;
			    /*prevent any other actions that may occur when moving over the image:*/
			    e.preventDefault();
			    /*get the cursor's x and y positions:*/
			    pos = getCursorPos(e);
			    /*calculate the position of the lens:*/
			    x1 = pos.x - (lens1.offsetWidth / 2);
			    y1 = pos.y - (lens1.offsetHeight / 2);

			    /*prevent the lens from being positioned outside the image:*/
			    if (x1 > img1.width - lens1.offsetWidth) {x1 = img1.width - lens1.offsetWidth;}
			    if (x1 < 0) {x1 = 0;}
			    if (y1 > img1.height - lens1.offsetHeight) {y1 = img1.height - lens1.offsetHeight;}
			    if (y1 < 0) {y1 = 0;}
			    lens1.style.left = x1 + "px";
			    lens1.style.top = y1 + "px";

			    x2 = x1;
			    y2 = y1;
			   
			    if (x2 > img2.width - lens2.offsetWidth) {x2 = img2.width - lens2.offsetWidth;}
			    if (x2 < 0) {x2 = 0;}
			    if (y2 > img2.height - lens2.offsetHeight) {y2 = img2.height - lens2.offsetHeight;}
			    if (y2 < 0) {y2 = 0;}
			    /*set the position of the lens:*/
			    
			    lens2.style.left = x2 + "px";
			    lens2.style.top = y2 + "px";
			    /*display what the lens "sees":*/
			    result1.style.backgroundPosition = "-" + (x1 * cx) + "px -" + (y1 * cy) + "px";
			    result2.style.backgroundPosition = "-" + (x2 * cx) + "px -" + (y2 * cy) + "px";
		  	}
		  	function getCursorPos(e) {
			    var a, x = 0, y = 0;
			    e = e || window.event;
			    /*get the x and y positions of the image:*/
			    a = img1.getBoundingClientRect();
			    /*calculate the cursor's x and y coordinates, relative to the image:*/
			    x = e.pageX - a.left;
			    y = e.pageY - a.top;
			    /*consider any page scrolling:*/
			    x = x - window.pageXOffset;
			    y = y - window.pageYOffset;
			    return {x : x, y : y};
			}	
		}
	</script>

	<script type="text/javascript">
        jssor_1_slider_init = function() {

            var jssor_1_options = {
              $AutoPlay: 1,
              $AutoPlaySteps: 5,
              $SlideDuration: 160,
              $SlideWidth: 80,
              $SlideSpacing: 3,
              $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$,
                $Steps: 3
              },
              $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$
              }
            };

            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

            /*#region responsive code begin*/

            var MAX_WIDTH = 400;

            function ScaleSlider() {
                var containerElement = jssor_1_slider.$Elmt.parentNode;
                var containerWidth = containerElement.clientWidth;

                if (containerWidth) {

                    var expectedWidth = Math.min(MAX_WIDTH || containerWidth, containerWidth);

                    jssor_1_slider.$ScaleWidth(expectedWidth);
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }

            ScaleSlider();

            $Jssor$.$AddEvent(window, "load", ScaleSlider);
            $Jssor$.$AddEvent(window, "resize", ScaleSlider);
            $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
            /*#endregion responsive code end*/
        };
    </script>

    <style>
        /*jssor slider loading skin spin css*/
        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }

        /*jssor slider bullet skin 057 css*/
        .jssorb057 .i {position:absolute;cursor:pointer;}
        .jssorb057 .i .b {fill:none;stroke:#fff;stroke-width:2000;stroke-miterlimit:10;stroke-opacity:0.4;}
        .jssorb057 .i:hover .b {stroke-opacity:.7;}
        .jssorb057 .iav .b {stroke-opacity: 1;}
        .jssorb057 .i.idn {opacity:.3;}

        /*jssor slider arrow skin 073 css*/
        .jssora073 {display:block;position:absolute;cursor:pointer;}
        .jssora073 .a {fill:#000;fill-opacity:.7;stroke:#000;stroke-width:160;stroke-miterlimit:10;stroke-opacity:.7;}
        .jssora073:hover {opacity:.8;}
        .jssora073.jssora073dn {opacity:.4;}
        .jssora073.jssora073ds {opacity:.3;pointer-events:none;}
    </style>
</head>

<body >
	<nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top width">
            <a href="http://www.iitkgp.ac.in/" style="width:80px;height: 70px;"><img src="{% static 'images/iitkgp_.gif' %}" style="width:100%;height:100%;object-fit:contain"></a>&nbsp;
            <a class="navbar-brand" href="#">Image Annotation Tools</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Technical Details
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'imgws' %}">Handwritten Text Recognition</a>
                            <a class="dropdown-item" href="{% url 'imgann' %}">Image Annotation Tools</a>
                            <a class="dropdown-item" href="{% url 'imgenh' %}">Image Restoration & Text Extraction</a>
                            <a class="dropdown-item" href="{% url 'imgsr' %}">Image Super-Resolution</a>
                            <a class="dropdown-item" href="{% url 'postprocess' %}">Postprocessing</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Demo
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'wrindex' 0 %}">Handwritten Text Recognition</a>
                            <a class="dropdown-item active" href="{% url 'anindex' %}">Image Annotation Tools</a>
                            <a class="dropdown-item" href="{% url 'hrindex' 2 %}">Image Restoration & Text Extraction</a>
                            <a class="dropdown-item" href="{% url 'dnindex' 2 %}">Image Super-Resolution</a>
                            <a class="dropdown-item" href="{% url 'ppindex' 0 %}">Postprocessing</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pub' %}">Publications</a>
                    </li>    
                    <li class="nav-item"><a class="nav-link" href="{% url 'partners' %}">Partners</a></li>
                </ul>
            
        </div>
    </nav>
	
	<div class="customContainer">
		
		<br>
		<p class="width"> A demonstration video for the annotation tool, Multi-layered Document Image Annotation System (MultiDIAS), is attached below.The MultiDIAS is tested on a complex handwritten manuscript written by renowned film director Satyajit Ray for the movie 'Goopi Gyne Bagha Byne '. This annotated data generated using MultiDIAS can further be used in a wide range of applications of document image analysis.</p>
		<br>
		<div class="row justify-content-center">
			<video width="1000" height="400" controls autoplay>
			 	<source src="{% static 'docs/DIAS.mp4' %}" type="video/mp4">  
			Your browser does not support the video tag.
			</video> 
		</div>
		
    	<br><br>
    </div>
</body>
</html>