<!doctype html>
{% load static from staticfiles %}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Handwritten OCR</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link  href="{% static 'css/dn.css' %}" rel="stylesheet">
<script>  $('#myCarousel').carousel({
        pause: 'none'
    })
</script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top width">
        
          <a class="navbar-brand" href="{% url 'home' %}"><strong>DIA IMPRINT</strong></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Technical Details
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'imgws' %}">Handwritten Text Recognition</a>
                            <a class="dropdown-item" href="{% url 'imgann' %}">Image Annotation Tools</a>
                            <a class="dropdown-item" href="{% url 'imgenh' %}">Image Restoration & Text Extraction</a>
                            <a class="dropdown-item" href="{% url 'imgsr' %}">Image Super-Resolution</a>
                            <a class="dropdown-item" href="{% url 'postprocess' %}">Postprocessing</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Demo
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'wrindex' 0 %}">Handwritten Text Recognition</a>
                            <a class="dropdown-item" href="{% url 'anindex' %}">Image Annotation Tools</a>
                            <a class="dropdown-item" href="{% url 'hrindex' 2 %}">Image Restoration & Text Extraction</a>
                            <a class="dropdown-item" href="{% url 'dnindex' 2 %}">Image Super-Resolution</a>
                            <a class="dropdown-item" href="{% url 'ppindex' 0 %}">Postprocessing</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pub' %}">Publications</a>
                    </li>    
                    <li class="nav-item"><a class="nav-link" href="{% url 'partners' %}">Partners</a></li>
                </ul>
            </div>
        
    </nav>

    <header>
      <div id="carouselExampleIndicators" class="carousel slide width" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
           <div class="carousel-item active" style="background-image: url('{% static 'images/iitkgp.jpg'%}')">
            <div class="carousel-caption d-none d-sm-block">
              <div class="text-block">
              <h1>Information Access from Document Images of Indian Languages</h1>
              <p>&nbsp;IITKGP-ISI-IIITH-IITJ-CEERI&nbsp;</p>
            </div>
            </div>
          </div>
          <div class="carousel-item" style="background-image: url('{% static 'images/isi2.jpg'%}')">
            <div class="carousel-caption d-none d-sm-block">
              <div class="text-block">
              <h1>Information Access from Document Images of Indian Languages</h1>
              <p>&nbsp;IITKGP-ISI-IIITH-IITJ-CEERI&nbsp;</p>
            </div>
            </div>
          </div>         
         <div class="carousel-item" style="background-image: url('{% static 'images/iiit.jpg'%}');width:100%;height:100%;object-fit:cover;">
            <div class="carousel-caption d-none d-sm-block">
              <div class="text-block">
              <h1>Information Access from Document Images of Indian Languages</h1>
              <p>&nbsp;IITKGP-ISI-IIITH-IITJ-CEERI&nbsp;</p>
            </div>
            </div>
          </div>
          <div class="carousel-item" style="background-image: url('{% static 'images/iitj.JPG'%}')">
            <div class="carousel-caption d-none d-sm-block">
              <div class="text-block">
              <h1>Information Access from Document Images of Indian Languages</h1>
              <p>&nbsp;IITKGP-ISI-IIITH-IITJ-CEERI&nbsp;</p>
            </div>
            </div>
          </div>
          
          <div class="carousel-item" style="background-image: url('{% static 'images/ceeri.jpg'%}')">
            <div class="carousel-caption d-none d-sm-block">
              <div class="text-block">
              <h1>Information Access from Document Images of Indian Languages</h1>
              <p>&nbsp;IITKGP-ISI-IIITH-IITJ-CEERI&nbsp;</p>
            </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>
    

  <div id="container" class="width">
    
    <br>
            <p>This​ ​project​ ​investigates​ ​a​ ​set​ ​of​ ​sub-problems​ ​related to​ ​recognition​ ​and​ ​retrieval​ ​of​ ​degraded​ ​and​ ​challenging
              document​ ​images​ ​in​ ​Indian​ ​languages.​ ​Traditionally​ ​the problem​ ​of​ ​recognition​ ​is​ ​called​ ​OCR.​ ​However,​ ​OCRs​ ​are
              reliable​ ​only​ ​when​ ​the​ ​document​ ​is​ ​printed​ ​and reasonably​ clean.​ ​Many​ ​practically​ ​important​ ​documents in​ ​Indian​ context​ ​(such​ ​as​ ​massive​ ​collection​ ​of manuscripts​ available​ ​in​ ​courts,​ ​historical​ ​newspaper articles, ​handwritten​ ​notes​ ​of​ ​freedom​ ​fighters)​ ​have variable ​in​print​ ​style,​ ​are​ ​affected​ ​by​ ​ageing related​ ​noise​ ​and ​varying​ ​scan​ ​settings.​<br><br>We focus on the content aware image processing algorithms for robust and efficient recognition and retrieval from Indian language document images. Our image processing algorithms aim at improving the quality of document images by removing the noise and low resolution artifacts by adopting content aware operations. We also work on developing recognizers using state of the art machine learning techniques such as deep learning for handwritten Indian language text. ​In this project, we specifically work on
              <ul>
                <li>pre-processing, super-resolution and clean up </li>
                <li>annotations, tools and data creation </li>
                <li>recognition of handwriting </li>
                <li>post-processing and accuracy enhancements</li>
                <li>features and matching </li>
                <li>retrieval from a collection. </li>
              </ul>
              <p>Some of the results and publications for this project have been added here.</font></p>
		</div>
    	<div class="clear"></div>
      
  </div>
</body>
</html>
