<!doctype html>
{% load static from staticfiles %}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Handwritten OCR</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link  href="{% static 'css/dn.css' %}" rel="stylesheet">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top width">
			<a class="navbar-brand" href="{% url 'home' %}"><strong>DIA IMPRINT</strong></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
	    		<span class="navbar-toggler-icon"></span>
	  		</button>
	  		<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav ml-auto">
		            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
		            <li class="nav-item dropdown">
		            	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				          Technical Details
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		                    <a class="dropdown-item" href="{% url 'imgws' %}">Handwritten Text Recognition</a>
		                    <a class="dropdown-item" href="{% url 'imgann' %}">Image Annotation Tools</a>
		                    <a class="dropdown-item" href="{% url 'imgenh' %}">Image Restoration & Text Extraction</a>
		                    <a class="dropdown-item" href="{% url 'imgsr' %}">Image Super-Resolution</a>
		                    <a class="dropdown-item" href="{% url 'postprocess' %}">Postprocessing</a>
		                </div>
		            </li>
		            <li class="nav-item dropdown">
		            	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				        	Demo
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		                    <a class="dropdown-item" href="{% url 'wrindex' 0 %}">Handwritten Text Recognition</a>
		                    <a class="dropdown-item" href="{% url 'anindex' %}">Image Annotation Tools</a>
		                    <a class="dropdown-item" href="{% url 'hrindex' 2 %}">Image Restoration & Text Extraction</a>
		                    <a class="dropdown-item" href="{% url 'dnindex' 2 %}">Image Super-Resolution</a>
		                    <a class="dropdown-item" href="{% url 'ppindex' 0 %}">Postprocessing</a>
		                </div>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="{% url 'pub' %}">Publications</a>
		            </li>    
		            <li class="nav-item active"><a class="nav-link" href="{% url 'partners' %}">Partners</a></li>
		        </ul>
		    </div>
		
	</nav>

    <div class="customContainer">
			<br>
			<h2 class="text-center">Partners</h2>
			<br>
			<h4 class="text-center" style="font-weight:bold;">Principal Investigator</h4>
			<div class="row justify-content-center">
				<div class = "column">
					<img src="{% static 'images/pkb.jpg' %}" class="rounded-circle column-img" > 	
					<p class="text-center" >Prof. Prabir Kumar Biswas<br>Dept. of E & ECE, IIT Kharagpur</p>
				</div>
			</div>
			
			<h4 class="text-center" style="font-weight:bold;">Co-Principal Investigators</h4>
			<div class="row justify-content-center">
				<div class = "column">
					<img src="{% static 'images/jm.jpg' %}" class="rounded-circle column-img"> 	
					<p class="text-center" >Prof. Jayanta Mukhopadhyay<br>Dept. of CSE, IIT Kharagpur</p>
				</div>
				<div class = "column">
					<img src="{% static 'images/sc.JPG' %}" class="rounded-circle column-img"> 	
					
					<p class="text-center" >Prof. Santanu Chaudhury<br>IIT Jodhpur</p>
				</div>
				<div class = "column">
					<img src="{% static 'images/bbc.jpg' %}" class="rounded-circle column-img"> 	
					<p class="text-center" >Prof. Bhabatosh Chanda<br>ISI Kolkata</p>
				</div>
				<div class = "column">
					<img src="{% static 'images/cvj.jpg' %}" class="rounded-circle column-img"> 	
					<p class="text-center" >Prof. C. V. Jawahar<br>IIIT Hyderabad</p>
				</div>
			
				<div class = "column">
					<img src="{% static 'images/ss.jpg' %}" class="rounded-circle column-img"> 	
					<p class="text-center" >Prof. Shamik Sural<br>Dept. of CSE, IIT Kharagpur</p>
				</div>
				<div class = "column">
					<img src="{% static 'images/ppd.jpg' %}" class="rounded-circle column-img"> 	
					<p class="text-center" >Prof. P. P. Das<br>Dept. of CSE, IIT Kharagpur</p>
				</div>
				<div class = "column">
					<img src="{% static 'images/gh.jpg' %}" class="rounded-circle column-img"> 	
					<p class="text-center" >Prof. Gaurav Harit<br>IIT Jodhpur</p>
				</div>
				<div class = "column">
					<img src="{% static 'images/anil.jpg' %}" class="rounded-circle column-img"> 	
					<p class="text-center" >Dr. Anil Saini<br>Scientist, CEERI Pilani</p>
				</div>
			</div>
	 	<div class="clear"></div>
    </div>
    <br><br><br>
</div>
</body>
</html>
