<!doctype html>
{% load static from staticfiles %}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Handwritten OCR</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link  href="{% static 'css/dn.css' %}" rel="stylesheet">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top width">
    
      <a class="navbar-brand" href="{% url 'home' %}"><strong>DIA IMPRINT</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Technical Details
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'imgws' %}">Handwritten Text Recognition</a>
                        <a class="dropdown-item" href="{% url 'imgann' %}">Image Annotation Tools</a>
                        <a class="dropdown-item" href="{% url 'imgenh' %}">Image Restoration & Text Extraction</a>
                        <a class="dropdown-item" href="{% url 'imgsr' %}">Image Super-Resolution</a>
                        <a class="dropdown-item" href="{% url 'postprocess' %}">Postprocessing</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Demo
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'wrindex' 0 %}">Handwritten Text Recognition</a>
                        <a class="dropdown-item" href="{% url 'home' %}">Image Annotation Tools</a>
                        <a class="dropdown-item" href="{% url 'hrindex' 2 %}">Image Restoration & Text Extraction</a>
                        <a class="dropdown-item" href="{% url 'dnindex' 2 %}">Image Super-Resolution</a>
                        <a class="dropdown-item" href="{% url 'home' %}">Postprocessing</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'pub' %}">Publications</a>
                </li>    
                <li class="nav-item"><a class="nav-link" href="{% url 'partners' %}">Partners</a></li>
            </ul>
        </div>
    
  </nav>

  <div id="container" class="width">
    <section id="content" class="one-column">
    <article>
      <br>
			<h2>Publications</h2>
			<br>
			<p style="font-weight:bold; width:1000px;">IIIT Hyderabad</p>
		 	<ul>
  				<li>Kartik Dutta, Praveen Krishnan, Minesh Mathew, and C. V. Jawahar, "Towards Accurate Handwritten Word Recognition for Hindi and Bangla", NCVPRIPG, 2017.</li>
			 	<li>Kartik Dutta, Praveen Krishnan, Minesh Mathew and C. V. Jawahar, "Offline Handwriting Recognition on Devanagari using a new Benchmark Dataset", DAS 2018. </li>
			  	<li>Kartik Dutta, Praveen Krishnan, Minesh Mathew and C. V. Jawahar, "Towards Spotting and Recognition of Handwritten Words in Indic Scripts", ICFHR 2018. </li>
				<li>Praveen Krishnan, Kartik Dutta and C. V. Jawahar, "Word Spotting and Recognition using Deep Embedding", DAS 2018.</li>
			
			</ul> 
			<hr style="height:2px;border:none;color:#333;background-color:#333;">	
			<br>
			<p style="font-weight:bold; width:1000px;">IIT Kharagpur</p>
		 	<ul>
  				<li>A. Poddar, R. Mukherjee, J. Mukhopadhyay, P. K. Biswas, “MultiDIAS: A Hierarchical Multi-layered Document Image Annotation System for Foreground Pixels”, 11th ICVGIP, Hyderabad, December, 2018. </li>			
			</ul> 
			<hr style="height:2px;border:none;color:#333;background-color:#333;">

			<br>
			<p style="font-weight:bold; width:1000px;">ISI Kolkata</p>
		 	<ul>
  				<li>M. Wadhwani, D. Kundu and B. Chanda, “Text segmentation and restoration of old handwritten documents”, 11th ICVGIP, Hyderabad, December, 2018.</li>			
			</ul> 
			<hr style="height:2px;border:none;color:#333;background-color:#333;">

			<br>
			<p style="font-weight:bold; width:1000px;">CEERI, Pilani</p>
		 	<ul>
  				<li>M. Sharma, A. Ray, S. Chaudhury and B. Lall, "A Noise-Resilient Super-Resolution Framework to Boost OCR Performance," 2017 14th IAPR International Conference on Document Analysis and Recognition (ICDAR), Kyoto, 2017, pp. 466-471.</li>
				<li>Manoj Sharma, Rudrabha Mukhopadhyay, Avinash Upadhyay, Sriharsha Koundinya, Ankit Shukla, Santanu Chaudhury, "Irgun: Improved residue based gradual up-scaling network for single image super resolution", CVPR Workshops, Saltlake City, USA, 2018</li>
			</ul> 
			<hr style="height:2px;border:none;color:#333;background-color:#333;">	
			<br>
			<p style="font-weight:bold; width:1000px;">IIT Jodhpur</p>
		 	<ul>
  				<li>Nagendar, G., Ranjan, V., Harit, G. & Jawahar, C. V. (2018). Efficient query specific DTW distance for document retrieval with unlimited vocabulary. Journal of Imaging, 4(2), 37.</li>
			</ul> 
		</article>
    </section>
    <div class="clear"></div>
    </div>
    <br><br>
  </div>


</body>
</html>
