<!doctype html>
{% load static from staticfiles %}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Handwritten OCR</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link  href="{% static 'css/dn.css' %}" rel="stylesheet">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top width">
            <a href="#" style="width:80px;height: 70px;"><img src="{% static 'images/iiith.png' %}" style="width:100%;height:100%;object-fit:contain"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item dropdown  active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Technical Details
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item active" href="{% url 'imgws' %}">Handwritten Text Recognition</a>
                            <a class="dropdown-item" href="{% url 'imgann' %}">Image Annotation Tools</a>
                            <a class="dropdown-item" href="{% url 'imgenh' %}">Image Restoration & Text Extraction</a>
                            <a class="dropdown-item" href="{% url 'imgsr' %}">Image Super-Resolution</a>
                            <a class="dropdown-item" href="{% url 'postprocess' %}">Postprocessing</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Demo
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'wrindex' 0 %}">Handwritten Text Recognition</a>
                            <a class="dropdown-item" href="{% url 'home' %}">Image Annotation Tools</a>
                            <a class="dropdown-item" href="{% url 'hrindex' 2 %}">Image Restoration & Text Extraction</a>
                            <a class="dropdown-item" href="{% url 'dnindex' 2 %}">Image Super-Resolution</a>
                            <a class="dropdown-item" href="{% url 'home' %}">Postprocessing</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pub' %}">Publications</a>
                    </li>    
                    <li class="nav-item"><a class="nav-link" href="{% url 'partners' %}">Partners</a></li>
                </ul>
            </div>
        
    </nav>
    <div id="container" class="width">
	<section id="content" class="one-column">

	    <article>
				
			
			<br><h2>Handwritten Text Recognition and Word Spotting</h2>
			<br> <br>
            <p>IIIT Hyderabad has looked into the problem of handwriting recognition in Indian languages. Building accurate lexicon free handwritten text recognizers for Indic languages is a challenging task, mostly due to the inherent complexities in Indic scripts in addition to the cursive nature of handwriting. We developed an end-to-end trainable CNN-RNN hybrid architecture which takes inspirations from recent advances of using residual blocks for training convolutional layers, along with the inclusion of spatial transformer layer to learn a model invariant to geometric distortions present in handwriting. To address the need of large scale training data for such low resources languages, we utilize synthetically rendered data for pre-training the network and later fine tune it on the real data.
</p>
	<center> <figure>
			<img src = "{% static 'images/paper_1_iiit.jpg' %}" height="300px" width="700px">
			<figcaption><font size="2">Architecture for handritten text recognizer</font></figcaption>
		</figure>	
	</center>
	<br>
	    <p>We also learn deep convolutional features for word images and textual embedding for word spotting. Thus, we developed an End2End embedding framework which jointly learns both the text and image embeddings using state of the art deep convolutional architectures. </p>
	<center> <figure>
			<img src = "{% static 'images/paper_2_iiit.jpg' %}" height="300px" width="500px">
			<figcaption><font size="2">Architecture to learn image and word embeddings jointly</font></figcaption>
		</figure>	
	</center>	
	<br>	
	<p>
		As a part of this project several datasets for handwritten text in several languages has been released.
	</p>
	

		</article>
        </section>
        
        
    	<div class="clear"></div>
        <br><br>
    </div>
    
</div>
</body>
</html>
