<!doctype html>
{% load static from staticfiles %}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Handwritten OCR</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link  href="{% static 'css/dn.css' %}" rel="stylesheet">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Technical Details
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'imgws' %}">Handwritten Text Recognition</a>
                            <a class="dropdown-item" href="{% url 'imgann' %}">Image Annotation Tools</a>
                            <a class="dropdown-item active" href="{% url 'imgenh' %}">Image Restoration & Text Extraction</a>
                            <a class="dropdown-item" href="{% url 'imgsr' %}">Image Super-Resolution</a>
                            <a class="dropdown-item" href="{% url 'postprocess' %}">Postprocessing</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Demo
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'wrindex' 0 %}">Handwritten Text Recognition</a>
                            <a class="dropdown-item" href="{% url 'home' %}">Image Annotation Tools</a>
                            <a class="dropdown-item" href="{% url 'hrindex' 2 2 %}">Image Restoration & Text Extraction</a>
                            <a class="dropdown-item" href="{% url 'dnindex' 2 2 %}">Image Super-Resolution</a>
                            <a class="dropdown-item" href="{% url 'home' %}">Postprocessing</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pub' %}">Publications</a>
                    </li>    
                    <li class="nav-item"><a class="nav-link" href="{% url 'partners' %}">Partners</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="container" class="width">
	<section id="content" class="one-column">

	    <article>
				
			
			<br><h2>Image Restoration and Text Extraction Techniques for Historical Handwritten Documents</h2>
			<br> <br>
            <p>ISI Kolkata has been working on development of algorithms for restoring degraded old handwritten documents. For this a deep neural net based system has been developed which can produce a output of restored denoised image automatically if corresponding old degraded handwritten document image given as input. 

	</p>
	
	    <p>A deep neural net based system has also been developed which can extract written text as output automatically if provided with the corresponding old degraded handwritten document. </p>
		

	

		</article>
        </section>
        
        
    	<div class="clear"></div>
    </div>
    <br><br>
    </div>
</body>
</html>
