<!doctype html>
{% load static from staticfiles %}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Handwritten OCR</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link  href="{% static 'css/dn.css' %}" rel="stylesheet">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top width">
            <a href="#" style="width:80px;height: 70px;"><img src="{% static 'images/ceeri.png' %}" style="width:100%;height:100%;object-fit:contain"></a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item dropdown  active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Technical Details
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'imgws' %}">Handwritten Text Recognition</a>
                            <a class="dropdown-item" href="{% url 'imgann' %}">Image Annotation Tools</a>
                            <a class="dropdown-item" href="{% url 'imgenh' %}">Image Restoration & Text Extraction</a>
                            <a class="dropdown-item active" href="{% url 'imgsr' %}">Image Super-Resolution</a>
                            <a class="dropdown-item" href="{% url 'postprocess' %}">Postprocessing</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Demo
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'wrindex' 0 %}">Handwritten Text Recognition</a>
                            <a class="dropdown-item" href="{% url 'home' %}">Image Annotation Tools</a>
                            <a class="dropdown-item" href="{% url 'hrindex' 2 2 %}">Image Restoration & Text Extraction</a>
                            <a class="dropdown-item" href="{% url 'dnindex' 2 2 %}">Image Super-Resolution</a>
                            <a class="dropdown-item" href="{% url 'home' %}">Postprocessing</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pub' %}">Publications</a>
                    </li>    
                    <li class="nav-item"><a class="nav-link" href="{% url 'partners' %}">Partners</a></li>
                </ul>
            
        </div>
    </nav>
    <div id="container" class="width">
	<section id="content" class="one-column">

	    <article>
				
			
			<br><h2>Noise Resilient Super-Resolution on Document Images</h2>
			<br> <br>
		<p>
			CEERI, Pilani has been looking into development of a deep learning based framework to enhance the degraded document image for boosting OCR’s performance. Enhancement will include all factors which will help to improve OCR performance such as resolution enhancement, removing noises and removing text touching lines etc.
		</p>
    	<p>
		A Convolutional Autoencoder neural network model of 6 layers is used with 16, 32, 64 feature map. The kernal size was 5*5. Since the challenge was denoising and super-resolution, another framework with same specification for denoising, toching line removal is also trained. Then both network are end-to-end finetuned to get denoising and super-resolution at same time. Our de-noising architecture can do multiple task such as touching line removal, salt n pepper and different noise removal. Initially, the scale of super-resolution is 2X. The trained network is then used in cascaded form to create 8X super-resolved text images. 

	</p>

	<center> <figure>
			<img src = "{% static 'images/ceeri_paper.jpg' %}" height="500px" width="600px">
			<figcaption><font size="2">Pipeline for the lower-resolution image recognition system</font></figcaption>
		</figure>	
	</center>
	<br>
	
	    <p>Final block is a cascaded implementation of all the blocks shown above. In final block we give images as input. These images are then passed through the layout and linear element removal block, which gives clean images, which is then Super-Resolved 8 times to get a High resolution image. The images are then passed through a OCR. We also do some dictionary based post processing to get better results.</p>
		</article>
        </section>
        
        
    	<div class="clear"></div>
    </div>
    <br><br>
</div>
</body>
</html>
