<!doctype html>
{% load static from staticfiles %}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Handwritten OCR</title>


<link rel="stylesheet" href='{% static "css/reset.css" %}' type="text/css" />
<link rel="stylesheet" href='{% static "css/styles.css" %}' type="text/css" />
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script type="text/javascript" src='{% static "js/jquery.js" %}'></script>
<script src="http://code.jquery.com/jquery-migrate-1.0.0.js"></script>
<script type="text/javascript" src='{% static "js/slider.js" %}'></script>
<script type="text/javascript" src='{% static "js/superfish.js" %}'></script>

<script type="text/javascript" src='{% static "js/custom.js" %}'></script>

<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />

<!--
hallux, a free CSS web template by ZyPOP (zypopwebtemplates.com/)

Download: http://zypopwebtemplates.com/

License: Creative Commons Attribution
//-->

<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
</style>

</head>
<body>
<div id="container">

    <header> 
    	<div class="width">
        		<!--<h1><a href="/">Handwritten OCR</a></h1>-->
    		<nav>
    			<ul class="sf-menu dropdown">
                    <li class="selected"><a href="{% url 'home' %}">Home</a></li>
                    <li>
                        <a href="#">Technical Details</a>  
                        <ul>
                            <li><a href="{% url 'imgws' %}">Handwritten Text Recognition</a></li>
                            <li><a href="{% url 'imgann' %}">Image Annotation Tools</a></li>
                            <li><a href="{% url 'imgenh' %}">Image Restoration & Text Extraction</a></li>
                            <li><a href="{% url 'imgsr' %}">Image Super-Resolution</a></li>
                            <li><a href="{% url 'home' %}">Postprocessing</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url '#">Demo</a>
                        <ul>
                            <li><a href="{% url 'wrindex' 0 %}">Handwritten Text Recognition</a></li>
                            <li><a href="{% url 'home' %}">Image Annotation Tools</a></li>
                            <li><a href="{% url 'hrindex' 2 2 %}">Image Restoration & Text Extraction</a></li>
                            <li><a href="{% url 'dnindex' 2 2 %}">Image Super-Resolution</a></li>
                            <li><a href="{% url 'home' %}">Postprocessing</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'pub' %}">Publications</a>
                    </li>    
                    <li><a href="{% url 'partners' %}">Partners</a></li>
                </ul>
    		  <div class="clear"></div>
        	</nav>
        </div>
    	<div class="clear"></div>
    </header>


    <div id="body" class="width">

	<section id="content" class="one-column">

	    <article>
				
			
			<h2>Noise Resilient Super-Resolution on Document Images</h2>
			<br> <br>
		<p>
			CEERI, Pilani has been looking into development of a deep learning based framework to enhance the degraded document image for boosting OCR’s performance. Enhancement will include all factors which will help to improve OCR performance such as resolution enhancement, removing noises and removing text touching lines etc.
		</p>
    	<p>
		A Convolutional Autoencoder neural network model of 6 layers is used with 16, 32, 64 feature map. The kernal size was 5*5. Since the challenge was denoising and super-resolution, another framework with same specification for denoising, toching line removal is also trained. Then both network are end-to-end finetuned to get denoising and super-resolution at same time. Our de-noising architecture can do multiple task such as touching line removal, salt n pepper and different noise removal. Initially, the scale of super-resolution is 2X. The trained network is then used in cascaded form to create 8X super-resolved text images. 

	</p>

	<center> <figure>
			<img src = "{% static 'images/ceeri_paper.jpg' %}" height="900px" width="600px">
			<figcaption><font size="2">Pipeline for the lower-resolution image recognition system</font></figcaption>
		</figure>	
	</center>
	<br> <br>
	
	    <p>Final block is a cascaded implementation of all the blocks shown above. In final block we give images as input. These images are then passed through the layout and linear element removal block, which gives clean images, which is then Super-Resolved 8 times to get a High resolution image. The images are then passed through a OCR. We also do some dictionary based post processing to get better results.</p>
		</article>
        </section>
        
        
    	<div class="clear"></div>
    </div>
    <footer class="width">
   
        <div class="footer-bottom">
            <p>&copy; YourSite 2014. <a href="http://zypopwebtemplates.com/">Free HTML5 Templates</a> by ZyPOP</p>
         </div>
    </footer>
</div>
</body>
</html>
