<!DOCTYPE html>
{% load static from staticfiles %}
{% load mytemplatetags %}
<html lang="utf-8">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
	<link href="{% static 'css/thumbs2.css' %}" rel="stylesheet" />
    <link href="{% static 'css/thumbnail-slider.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'js/thumbnail-slider.js' %}" type="text/javascript"></script>
	
 	<link  href="{% static 'css/wr.css' %}" rel="stylesheet">
 	<style>
    	ul{
			list-style: none outside none;
		    padding-left: 0;
            margin: 0;
		}
        .demo .item{
            margin-bottom: 60px;
        }
		.content-slider li{
		    background-color: #ed3020;
		    text-align: center;
		    color: #FFF;
		}
		.content-slider h3 {
		    margin: 0;
		    padding: 70px 0;
		}
		.demo{
			width: 800px;
		}
    </style>
	<script type="text/javascript">
		$(document).ready(function () {
		
			function move() {
			  var elem = document.getElementById("myBar");   
			  var width = 1;
			  var id = setInterval(frame, 7);
			  function frame() {
			    if (width >= 100) {
			      clearInterval(id);
			    } else {
			      width++; 
			      elem.style.width = width + '%'; 
			    }
			  }
			}

			function displayWord(word){
	   			$('#rword').text(word);
	   			var bar = document.getElementById('myProgress');
	   			bar.style.display = 'none';
			}

			function collides(rects, x, y) {
			    var isCollision = false;
			    for (var i = 0, len = rects.length; i < len; i++) {
			        var left = rects[i].x, right = rects[i].x+rects[i].w;
			        var top = rects[i].y, bottom = rects[i].y+rects[i].h;
			        if (right >= x
			            && left <= x
			            && bottom >= y
			            && top <= y) {
			            isCollision = rects[i];
			        }
			    }
			    return isCollision;
			}

			var c = document.getElementById("layer1");
			var context = c.getContext("2d");
			var img = new Image();
			img.onload = function () {
			    context.drawImage(img, 0, 0, 500, 700);
			}
			img.src = "{% static path %}";

			var word_obj = {{ word_dict|safe }};
			var c = document.getElementById("layer2");
			if (c && c.getContext){
			    // list of rectangles to render
			    var rects = [{x: 90, y: 78, w: 50, h: 20},
			                 {x: 265, y: 72, w: 30, h: 20}];
			    // get context
			    var context2 = c.getContext('2d');
			    
			    context2.fillStyle = "rgba(255, 204, 255, 0.3)";
	        	context2.strokeStyle = "rgba(199,21,133, 1)";
				context2.lineWidth   = 1;
			    if (context) {
			      	for (var i = 0, len = rects.length; i < len; i++) {
			        	context2.fillRect(rects[i].x, rects[i].y, rects[i].w, rects[i].h);
	    		    	context2.strokeRect(rects[i].x, rects[i].y, rects[i].w, rects[i].h);
			      	}
			  	}

			    // listener, using W3C style for example    
			    c.addEventListener('click', function(e) {
			        var rect = collides(rects, e.offsetX, e.offsetY);
			        if (rect) {
			            console.log('collision: ' + rect.x + '/' + rect.y);
			            var key = rect.x + '#' + rect.y;
			            var value = word_obj[key];
			            displayWord(value);
			            context2.clearRect(0, 0, c.width, c.height);
					    for (var i = 0, len = rects.length; i < len; i++) {
					    	if ((rects[i].x + '#' + rects[i].y) != key){
					    		context2.fillStyle = "rgba(255, 230, 255, 0.3)";
			        			context2.strokeStyle = "rgba(199,21,133, 1)";
								context2.lineWidth   = 1;
					        	context2.fillRect(rects[i].x, rects[i].y, rects[i].w, rects[i].h);
			    		    	context2.strokeRect(rects[i].x, rects[i].y, rects[i].w, rects[i].h);
			    		    }
			    		    else{
			    		    	context2.fillStyle = "rgba(102, 255, 102, 0.3)";
			        			context2.strokeStyle = "rgba(0, 128, 0, 1)";
								context2.lineWidth   = 1;
					        	context2.fillRect(rects[i].x, rects[i].y, rects[i].w, rects[i].h);
			    		    	context2.strokeRect(rects[i].x, rects[i].y, rects[i].w, rects[i].h);
			    		    }
					    }
					  	
			        } else {
			            console.log('no collision');
			            displayWord('Unknown word');
			        }
			    }, false);
			}

		});

	</script>

</head>

<body >
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="#">IMPRINT</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav ml-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	      </li>
	      
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Demos
	        </a>
	        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="#">Word Recongition</a>
	          <a class="dropdown-item" href="#">Document Enhancer</a>
	        </div>
	      </li>
	      
	    </ul>
	    <!--form class="form-inline my-2 my-lg-0">
	      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	    </form-->
	  </div>
	</nav>
	<div class="customContainer">

		<br>
		<div class="row justify-content-center">
			<h4>Word Recognition Demo</h4>
		</div>
		<br>
		<div class="row justify-content-center">
			<div class="col-md-6 col-lg-6 col-sm-12">
				<h6 style="color:#999;" class="text-center">Selected Document</h6>
				<div style="position: relative; height: 300px;overflow:scroll;overflow-x:hidden;border: 2px solid #999;border-radius: 4px 0 4px 0;">
					
 					<canvas id="layer1" width="500" height="700" style="position: absolute; left: 0; top: 0; z-index: 0;"></canvas >
						
					<canvas id="layer2" width="500" height="700" style="position: absolute; left: 0; top: 0; z-index: 1;cursor: pointer;"></canvas>
					
				</div>
			</div>
			<div class="col-md-3 col-lg-3 col-sm-12">
				<div >
					<div id="process" style="padding-top: 150px;">
						<h6 class="text-center">Selected word: </h6>
						<h6 class="text-center" id="rword" style="color: red;">None</h6>
					</div>	
				</div>
				<div id="myProgress" style="display: none;">
  					<div id="myBar"></div>
  					<p class="small"> Processing...</p>
				</div>				
			</div>
		</div>
		<br>
		
	</div>

</body>
</html>