
div #docbox {
    position:relative;
    width: 50%;
    height: 40%;
    padding: 5px;
    margin-left: 15px;
    border: 1px solid #000;
}

img {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
}

.DivToScroll{
	position:relative; 
    background-color: #F5F5F5;
    border: 2px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #3B3C3E;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 10px 7px 5px;
}

.DivWithScroll{
    height:400px;
    overflow:scroll;
    overflow-x:hidden;
}