<!doctype html>
{% load static %}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link  href="{% static 'css/dn.css' %}" rel="stylesheet">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top width">
        <a class="navbar-brand" href="{% url 'home' %}"><strong>HW Collect</strong></a>
    </nav>


  <div id="container" class="width">
    <div class="row col-8 offset-2">
        <div class="row">
            <h4 class="hpad">Copy the below text</h4>
        </div>
        <div class="card">
            <div class="card-body">
              <p>{{text}}</p>
            </div>
        </div>
        <br><br>
        <div class="row col-10 offset-2 justify-content-center">
            <form class="form mt-2" method="post" enctype="multipart/form-data" novalidate>
              {% csrf_token %}

              {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
              {% endfor %}

              {% for field in form.visible_fields %}
                <div class="form-group">
                  {{ field.label_tag }}
                  {{ field }}
                  {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                  {% endif %}
                </div>
              {% endfor %}

              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>                  
  </div>
</body>
</html>
